.toggle-button {
    width: 39px; /* Reduced width */
    height: 16px; /* Reduced height */
    /*Change toggle button bg color*/
    border-radius: 120px; /* Adjusted to half the height */
    color:rgb(171, 69, 230);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 3px; /* Reduced padding */
    transition: background-color 0.3s ease;
    margin-left: 25px;
  }

  

  
  .toggle-circle {
    width: 21px; /* Reduced width */
    height: 20px; /* Reduced height */
    background-color: rgb(233, 226, 243);
    border-radius: 50%;
    transition: transform 0.6s ease;
  }
  
  .toggle-button.active .toggle-circle {
    transform: translateX(18px); /* Adjusted translation distance */
  }
  